@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(30, 38%, 92%);
}

main {
  background: hsl(0, 0%, 100%);
  width: 600px;
  height: 400px;
  margin-top: 130px;
  margin-left: 380px;
  border-radius: 12px;
}

main section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem img {
  width: 300px;
  height: 400px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.textos .subtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgb(156, 156, 156);
  text-decoration: dotted;
  margin-bottom: 24px;
  margin-left: 24px;
}

.textos h1 {
  font-family: "Fraunces", serif;
  color: hsl(211, 24%, 17%);
  margin-bottom: 17px;
  margin-left: 24px;
}

.textos .paragrafo1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(150, 150, 150);
  margin-left: 24px;
  margin-bottom: 20px;
}

.textos h2 {
  font-family: "Fraunces", serif;
  color: rgba(26, 94, 26, 0.753);
  margin-left: 24px;
}

.textos .paragrafo2 {
  font-family: "Fraunces", serif;
  text-decoration: line-through;
  color: rgba(163, 163, 163, 0.815);
  font-size: 13px;
  margin-left: 24px;
}

button {
  width: 80%;
  padding: 8px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-family: "Fraunces", serif;
  letter-spacing: 2px;
  background: rgb(26, 97, 64);
  cursor: pointer;
}

button p {
  color: white;
  transition: 0.3s;
}

button p:hover {
  color: hsl(123, 100%, 50%);
}
